# MongoDB Connection String
MONGODB_URI=mongodb+srv://username:password@cluster0.ehhqltu.mongodb.net/Movie?retryWrites=true&w=majority&appName=Cluster0

# Server Configuration
PORT=3759

# Environment
NODE_ENV=development
